*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lucida Sans', sans-serif;

}

header {

}

header .container{
    margin: 5rem 10rem 0rem 10rem;
    
}

header .container .banner{
    display: flex;
    justify-content: center;
}
header .container .banner img{
    height: 300px;
    width: 300px;
}

header .container nav{
    background-color:lightpink;
}

header .container nav ul{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding: 1rem;
}

header .container nav ul li{
    list-style-type: none;
    
}

header .container nav ul li a{
    text-decoration: none;
    color:darkred;
    font-size: 1.3rem;
}

header .container nav ul li a:hover{
    color: white;
}

section .container-perfumaria{
    margin: 2rem 10rem 0rem 10rem;   
}

section .container-perfumaria .topico{
    display: flex;
    justify-content:center;
    border: darkred 1px solid;
    margin-bottom: 2rem;
}

section .container-perfumaria .row01{
   /* border: 1px solid black;*/
    display: flex;
    justify-content:space-between;
}

section .container-perfumaria .row01 .card-perfume{
    border: 1px solid black;
    display: flex;
    justify-content:center;
    flex-direction:column;
    margin-bottom: 3rem;
    width: 23%;
}

section .container-perfumaria .row01 .card-perfume .card-perfume-img{
    display: flex;
    justify-content:center;
    
}

section .container-perfumaria .row01 .card-perfume .card-perfume-img img{
    width: 100%;
    border: 1px solid black;
    
}

section .container-perfumaria .row01 .card-perfume-text{
    display: flex;
    justify-content:center;
    border: 1px solid royalblue;
    height: 3rem;
    align-items: center;
}

section .container-perfumaria .row01 .card-perfume-text p{
    font-size:1rem;
    color: black;
    width: 90%;
    text-align: center;
    
}

section .container-perfumaria .row01 .card-perfume-preco{
    border: 1px solid rgb(26, 240, 26);
    display: flex;
    justify-content:center;
    height: 5rem;
    align-items: center;
    flex-direction:column;
}

section .container-perfumaria .row01 .card-perfume-preco p{
    border: 1px solid royalblue;
    font-size:1rem;
    color: black;
    margin-bottom: 0.5rem;
    height:4rem;
    width: 6rem;
    text-align: center;
    display: flex;
    margin-top: 0.5rem;
    justify-content:center;
    align-items: center;
}

section .container-perfumaria .row01 .card-perfume-preco a{
    border: 1px solid royalblue;
    text-decoration: none;
    color: white;
    background-color: lightpink;
    height: 4rem;
    width: 6rem;
    text-align:center;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 0.5rem;
}